<h1 class="text-center page-header">Add a Doctor</h1>

<form action="/doctors" method="post">
  <div class="form-group">
    <label for="name">Doctor's Name:</label>
    <input type="text" name="name">
    <label for="specialty">Doctor's Specialty:</label>
    <input type="text" name="specialty">
  </div>
  <button type="submit" id="submit" class ="btn btn-info">Save</button>
</form>
