<h1 class="text-center page-header">Add a Patient</h1>

<form action="/patients" method="post">
  <div class="form-group">
    <label for="name">Patient's Name:</label>
    <input type="text" name="name">
    <label for="birthdate">Patient's Birthdate:</label>
    <input type="text" name="birthdate" placeholder="1990-08-26">
  </div>
    <button type="submit" id="submit" class ="btn btn-info">Save</button>

</form>
